---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Topics from '../components/Topics.astro';
import Speakers from '../components/Speakers';
import Schedule from '../components/Schedule.astro';
import Organization from '../components/Organization.astro';
---
<Layout title="SPGAI 2026">
  <Header />
  <main>
    <div id="about" class="tab-section active"><About /></div>
    <div id="topics" class="tab-section"><Topics /></div>
    <div id="speakers" class="tab-section"><Speakers client:load /></div>
    <div id="schedule" class="tab-section"><Schedule /></div>
    <div id="organization" class="tab-section"><Organization /></div>
  </main>
</Layout>
