<a href="#" data-section="about" class="nav-item text-gray-600">About</a>
<a href="#" data-section="topics" class="nav-item text-gray-600">Topics</a>
<a href="#" data-section="speakers" class="nav-item text-gray-600">Speakers</a>
<a href="#" data-section="schedule" class="nav-item text-gray-600">Schedule</a>
<a href="#" data-section="organization" class="nav-item text-gray-600">Organization</a>
